<launch>

  <arg name="scan" default="base_scan"/>
  <arg name="base_frame" default="trina2_1_tf/base_link"/>
  <arg name="cmd_vel" default="trina2_1/base_controller/cmd_vel"/>

  <!-- AMCL Node -->
  <node name="trina2_1_amcl" pkg="amcl" type="amcl" output="screen">
    <param name="tf_prefix" value="trina2_1_tf" />
    <remap from="scan" to="$(arg scan)"/>
    <remap from="amcl_pose" to="trina2_1/amcl_pose"/>
    <remap from="amcl/parameter_updates" to="trina2_1/amcl/parameter_updates"/>
    <remap from="amcl/parameter_descriptions" to="trina2_1/amcl/parameter_descriptions"/>
    <remap from="initialpose" to="trina2_1/initialpose"/>
    <remap from="particlecloud" to="trina2_1/particlecloud"/>
    <!-- copied --> 
    <!-- <remap from="scan" to="base_scan"/> -->
    <remap from="static_map" to="/static_map"/>

    <param name="global_frame_id" value="/map"/>
    <!-- <param name="odom_frame_id" value="trina2_2_tf/odom"/>
    <param name="base_frame_id" value="trina2_2_tf/base_link"/> -->

    
    <!-- Filter -->
    <param name="min_particles" value="20"/>
    <param name="max_particles" value="200"/>
    <param name="update_min_a" value="0.1"/>
    <param name="update_min_d" value="0.25"/>
    <!-- Laser -->
    <!-- Odometry -->
    <param name="odom_frame_id" value="trina2_1_tf/odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="$(arg base_frame)"/>
    <!-- <param name="global_frame_id" value="map"/> -->
  </node>

  <!-- Move Base -->
  <node name="trina2_1_move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
    <remap from = "map" to = "/map" />
    <remap from = "move_base/current_goal" to = "trina2_1/move_base/current_goal" />
    <remap from = "move_base/goal" to = "trina2_1/move_base/goal" />
    <remap from = "move_base_simple/goal" to = "trina2_1/move_base_simple/goal" />
    <rosparam file="$(find trina2_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" 
     subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" 
     subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/local_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/global_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/base_local_planner_params.yaml" command="load"/>
  </node>

</launch>
